name: Build conda packages
# This workflow is triggered on pushes to the repository.
on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    name: Build bitshuffle conda packages
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Display os-release
        run: cat /etc/os-release
      - name: Setup miniconda
        uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          activate-environment: conda_pkg_build_env
      - name: install conda-build
        shell: bash -l {0}
        run: |
          conda info
          conda install conda-build
          conda config --add channels conda-forge
      - name: Build Conda package
        shell: bash -l {0}
        run: |
          conda build $GITHUB_WORKSPACE
      - name: Prepare artifacts
        shell: bash -l {0}
        run: |
          mkdir $GITHUB_WORKSPACE/artifacts
          cp $GITHUB_WORKSPACE/linux-64/bitshuffle*.bz2 $GITHUB_WORKSPACE/artifacts/
          ls -l $GITHUB_WORKSPACE/artifacts
      - name: Upload Conda Packages as artifact
        uses: actions/upload-artifact@v1
        with:
          name: upload-conda-packages
          path: artifacts
